/**
 * Imports
 */

@import "thirdparty/normalize.css"
@import "thirdparty/foundation.min.css"

body
	background #bdc3c7

header
	background #2980b9
	color white
	padding 20px 30px

#current-location
	& header
		background #3498db
		border-radius 5px 5px 0 0
		padding 10px
	& article
		background white
		border-radius 0 0 5px 5px
		padding 10px
		text-align center
#title
	text-align center
